<style>
    body {
      position:fixed;
      height:100%;
      width:100%;
    }
</style>

<div class="d-none" id="index"></div>

<div>
  <div class="container">
    <%= form_tag itineraries_path, method: :get, html: { class: 'itineraries' }  do %>
      <%= text_field_tag :departure,
        params[:departure],
        class: "form-control w-100 address-input",
        placeholder: "Départ"
       %>
       <div class="arrival d-flex">
        <%= text_field_tag :arrival,
          params[:arrival],
          class: "form-control w-100 address-input",
          placeholder: "Arrivée"
        %>
        <div id="go" ><%= submit_tag "Go", class: "btn btn-primary" %></div>
    <% end %>
  </div>
</div>


<%# BARRES DE RECHERCHES %>
<% if params[:departure] && params[:arrival] %>
  <div class="itineraries--info">
    <div class="container">
      <div class="itineraries--summary d-flex flex-column mb-4">
        <div class="summary--departure d-inline-flex align-items-center">

          <%= image_tag("starting_point.svg", class:'starting-point-svg')%>

          <span class="sub-info-container"> <span class="sub-info">Départ </span><%= params[:departure] %></span>

        </div>


        <%= image_tag("route.svg",style: 'width: 4px; height: 21px; margin: 5px 0px 5px 7px' )%>

        <div class="summary--arrival d-inline-flex align-items-center">

           <%= image_tag("end_point.svg", class:'ending-point-svg')%>
          <span class="sub-info-container"> <span class="sub-info">Arrivée </span><%= params[:arrival] %></span>
        </div>
      </div>


      <% @itineraries.each_with_index do |itinerary, index| %>
        <div class="d-none itineraryCoordinates" data-id="<%= itinerary.id %>" data-coordinates="<%= itinerary.route %>" data-colour="<%= itinerary.colour %>"></div>
        <%= link_to itinerary_path(itinerary) do %>
          <div class="trip-option">
            <div class="trip-title">
              <h2>Itinéraire <%= index + 1 %></h2>

              <div class="bus-status-container">
                <%= image_tag("smell.svg", class: "#{'active' if itinerary.itinerary_buses.first.bus.bad_smell_level}") %>
                <%= image_tag("trash.svg",class: "#{'active' if itinerary.itinerary_buses.first.bus.cleanliness_level}") %>
                <%= image_tag("agent.svg",class: "#{'active' if itinerary.itinerary_buses.first.bus.agent}") %>
                <%= image_tag("noise.svg",class: "#{'active' if itinerary.itinerary_buses.first.bus.noise_level}") %>
                <%= image_tag("unsafe.svg",class: "#{'active' if itinerary.itinerary_buses.first.bus.safetiness}") %>
                <%= image_tag("crowded.svg", class: "#{'active' if itinerary.itinerary_buses.first.bus.crowd_level}") %>
              </div>
            </div>

            <div class="trip d-flex justify-content-between">

              <% itinerary.itinerary_buses.each_with_index do |iti_bus, index| %>
                <div class="trip-logos">
                  <div class="trip-step">
                    <div class="btn-line-sm" style=" color: black; background-color:<%= itinerary.colour %>; font-size:<%= 32 / iti_bus.bus.star_line_short_name.length%>px;">
                      <span class="shortName"><%= iti_bus.bus.star_line_short_name %></span>
                    </div>
                    <div class="line"></div>
                    <%= image_tag("end_point.svg")%>
                  </div>


                  <div class="trip-step-journey-infos">
                    <div class="trip-departure">
                      <div class="arret-depart"><%= iti_bus.starting_point %></div>
                      <div class="next-bus"><%= arrives_after(iti_bus.departing_time).abs %> min</div>
                    </div>
                    <div class="trip-ending">
                      <div class="arret-end"><%= iti_bus.end_point %></div>
                      <div class="bus-arrival-time"><%= trip_time(itinerary.arrival_time) %> min </div>
                    </div>
                  </div>

                </div>
              <% end %>
           </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= link_to itineraries_favorites_path do  %>
    <div class="bookmark">
      <div class="star"><i class="fas fa-star"></i></div>
    </div>
  <% end %>
  <div class="profile profile-logo">
    <%= image_tag("single-man-circle.svg", style: "scale:1.2;") %>
    <div class="menu-main">
      <%# <img src="bell.svg" alt="My Happy SVG" /> %>
      <%= image_tag("bell.svg", class: "bell") %>
      <%= link_to image_tag("signout.svg", class: "signoutsvg"), destroy_user_session_path, :method => :delete, :confirm => "Are you sure?" %>
    </div>
  </div>
<% end %>
<%# <div id="nav" class="wrapcircles closed">
  <div class="circle c-1"><span><a class="link" href="#"></a></span></div>
  <div class="circle c-2"><span><a class="link" href="#"></a></span></div>
  <div class="circle c-3"><span><a class="link" href="https://codepen.io/Chrisstar"></a></span></div>
  <div class="circle c-4"><span><a class="link" href="https://www.twitter.com/DaChrisstar"></a></span></div>
  <div id="click" class="circle c-5"><span><a class="link"></a></span></div>
</div> %>
