<div >
  <div class="container">
    <%= form_tag itineraries_path, method: :get, html: { class: 'itineraries' }  do %>
      <%= text_field_tag :departure,
        params[:departure],
        class: "form-control w-100",
        placeholder: "Départ"
       %>
       <div class="arrival d-flex">
        <%= text_field_tag :arrival,
          params[:arrival],
          class: "form-control w-100",
          placeholder: "Arrivée"
        %>
        <div><%= submit_tag "Go", class: "btn btn-primary" %></div>
    <% end %>
  </div>
</div>


<%# BARRES DE RECHERCHES %>
<% if params[:departure] && params[:arrival] %>
  <div class="itineraries--info">
    <div class="container">
      <div class="itineraries--summary d-flex flex-column mb-4">
        <div class="summary--departure d-inline-flex align-items-center">

           <%= image_tag("starting_point.svg")%>

          <span> <span class="sub-info">Départ </span><%= params[:departure] %></span>

        </div>


        <%= image_tag("route.svg",style: 'width: 4px; height: 21px; margin: 5px 0px 5px 7px' )%>

        <div class="summary--arrival d-inline-flex align-items-center">

           <%= image_tag("end_point.svg")%>
          <span> <span class="sub-info">Arrivée </span><%= params[:arrival] %></span>
        </div>
      </div>


      <% @itineraries.each_with_index do |itinerary, index| %>
        <div class="trip-option">
          <h2>Itinéraire <%= index + 1 %></h2>
          <div class="trip d-flex justify-content-between">

            <% itinerary.itinerary_buses.each do |iti_bus| %>
              <div class="trip-step ">
                <img src="https://picsum.photos/200/300" alt="" class="line-logo">
                <h3><%= iti_bus.bus.star_line_short_name %></h3>
                <h2><%= arrives_after(iti_bus.departing_time) %> min</h2>
              </div>
            <% end %>
            <div class="trip-step">
              <h3><%= trip_time(itinerary.arrival_time) %></h3>
            </div>
            <%# <div class="trip-step">
              <img src="https://picsum.photos/200/300" alt="" class="line-logo">
              <h3>gros chêne</h3>
              <h2>8 min</h2>
            </div>

            <div class="trip-step">
              <img src="https://picsum.photos/200/300" alt="" class="line-logo">
              <h3>gros chêne</h3>
              <h2>8 min</h2>
            </div> %>

            <%# <div class="trip-detail-button align-self-center">
               <%= link_to "#" do %>
               <%= image_tag("details.svg")%>
               <% end %>
            </div> %>
          </div>
        </div>
      <% end %>


      <div class="trip-option">
        <h2>Itinéraire 2</h2>
        <div class="trip d-flex justify-content-between">
          <div class="trip-step ">

            <img src="#### cf itinerary show => image_tag ####" alt="" class="line-logo">
            <h3>gros chêne</h3>
            <h2>8 min</h2>

          </div>

          <div class="trip-step">
            <img src="#### cf itinerary show => image_tag ####" alt="" class="line-logo">
            <h3>gros chêne</h3>
            <h2>8 min</h2>
          </div>

          <div class="trip-step">
            <img src="#### cf itinerary show => image_tag ####" alt="" class="line-logo">
            <h3>gros chêne</h3>
            <h2>8 min</h2>
          </div>

        <div class="trip-detail-button align-self-center">
          <%= link_to "#" do %>
          <%= image_tag("details.svg")%>
          <% end %>
        </div>
       </div>
      </div> %>
    <%# </div> %>
  </div>
 </div>
<% end %>
<%# INFORMATION SUR LA LISTE DES OPTIONS D'ITINERAIRES %>
