
<div >
      <%= link_to itineraries_path do %>
       <div class="home-btn"> <%= image_tag("home.svg",class: "home-logo")%> </div>
      <% end %>



  <div class="intinerary-infos itinerary-collapse">
    <div class="line-logo-big">

      <div class="btn-line-big" style="background-color:<%= @colour_line %>; font-size:<%= 64 / @star_short_name.length%>px;"> <%= @star_short_name %></div>

    </div>

    <div class="direction-terminus">
      <span class="direction">
      Direction
      </span>
      <%= @direction%>
    </div>

  <div class="container">
      <%# Bloc à loop %>
      <div class="bus-infos">
        <div class="d-flex justify-content-between">
          <div class="left-info">
            <%= image_tag("bus.svg")%>
            <span class="bus-to-stop">prochain bus : <span class="bus-arrival"><%= arrives_after(@iti_bus.departing_time) %></span> min.</span>
          </div>
          <div class="right-info">
              <div class="status-svg">
                <%= @image_garbage.html_safe if (@bus.cleanliness_level)%>
                <%= @image_thief.html_safe if @bus.safetiness%>
                <%= @image_speaker.html_safe if @bus.noise_level%>
                <%= @image_nose.html_safe if @bus.bad_smell_level%>
                <%= @image_people.html_safe if  @bus.crowd_level%>
                <%= @image_agent.html_safe if @bus.agent%>
                </div>
              <div clas="d-none" id="bus-id" data-id="<%= @bus.star_bus_id %>"></div>
              <div clas="d-none" id="bus-img" data-url="<%= @image_url %>"></div>
          </div>
        </div>
      <%= link_to trip_path(@itinerary) do %>
        <div class="mt-3 btn btn-primary btn-block btn-fade">Je suis dans le bus</div>
      <% end %>
    </div>
  </div>
</div>
