<div class="bus-info">
    <div class="status-container">
    <%= simple_form_for @bus do |f| %>

        <div class="status-ligne">
             <%= f.input  :cleanliness_level, label: @image_garbage.html_safe , input_html: {class: 'bus-status bus-status-invisible',checked: @bus.cleanliness_level} %>
             <%= f.input  :safetiness, label: @image_thief.html_safe , input_html: {class: 'bus-status bus-status-invisible',checked: @bus.safetiness} %>

        </div>
        <div class="status-ligne">
             <%= f.input  :noise_level, label: @image_speaker.html_safe, input_html: {class: 'bus-status bus-status-invisible',checked: @bus.noise_level} %>
             <%= f.input  :bad_smell_level, label: @image_nose.html_safe, input_html: {class: 'bus-status bus-status-invisible', checked: @bus.bad_smell_level} %>
        </div>
        <div class="status-ligne">
             <%= f.input  :crowd_level, label: @image_people.html_safe, input_html: {class: 'bus-status bus-status-invisible',checked: @bus.crowd_level} %>
             <%= f.input  :agent, label: @image_agent.html_safe, input_html: {class: 'bus-status bus-status-invisible',checked: @bus.agent} %>
    <% end %>
        </div>
    </div>

</div>

<div clas="d-none" id="bus-id" data-id="<%= @bus.star_bus_id %>"></div>
<div clas="d-none" id="bus-img" data-url="<%= @image_url %>"></div>

<div id="info-btn" style="bottom: 21.265vh;" class="profile">
  <div class="info" id="i">i</div>
  <div class="info" id="x"><i class="fas fa-times"></i></div>
</div>


   <div class="exit-btn"> <%= image_tag("exit.svg")%> </div>

  <div class="intinerary-infos">
    <div class="line-logo-big">

      <div class="btn-line-big" style="background-color:<%= @colour_line %>; font-size:<%= 64 / @star_short_name.length%>px;"> <%= @star_short_name %></div>

    </div>

    <div class="direction-terminus">
      <span class="direction">
      Direction
      </span>
      <%= @direction%>
    </div>

  <div class="container">
      <%# Bloc à loop %>
      <div class="bus-infos" style="margin-top:0;">
        <div class="d-flex justify-content-between">
          <div class="left-info">
            <%= image_tag("bus.svg")%>
           <div>Arrivée dans <span class="bus-arrival"><%= trip_time(@itinerary.arrival_time) %></span> min.</div>
          </div>
          <div class="right-info" id="bus-status-container">
            <%= render "buses/status", bus: @bus, image_garbage: @image_garbage, image_thief: @image_thief, image_speaker: @image_speaker, image_nose: @image_nose, image_people: @image_people, image_agent: @image_agent %>
          </div>
        </div>

      <%= link_to trips_arrived_path do %>
        <div class="mt-3 btn btn-primary btn-block btn-fade">Je suis arrivé</div>

      <% end %>
    </div>
