<div class="blue background-full">
  <div class="container">
    <h1 class="login-title" >Welcome <br> to BoT</h1>
    <h2 class="bs-phrase">Discover the best way to be on time.</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-white">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: "login-form blue ",autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { class: "login-form blue ",autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { class: "login-form blue ",autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-white" %>
      </div>
    <% end %>

    <div class="text-white"><%= render "devise/shared/links" %></div>
  </div>
</div>
