<div>
    <div class="status-svg">
        <%= image_garbage.html_safe if (bus.cleanliness_level)%>
        <%= image_thief.html_safe if bus.safetiness%>
        <%= image_speaker.html_safe if bus.noise_level%>
        <%= image_nose.html_safe if bus.bad_smell_level%>
        <%= image_people.html_safe if  bus.crowd_level%>
        <%= image_agent.html_safe if bus.agent%>
    </div>
</div>