<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Be on Time & enjoy your trip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="map"
      style="width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            z-index: -1;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


    <%= render 'shared/flashes' %>


    <%= yield %>
  </body>
</html>
